<div class="container">
  <h2>Add Product</h2>
  <div align="right"><button  class="btn btn-sm btn-success" (click)= "products()" >Products List</button></div>
    <div class="alert alert-success" *ngIf="result && result.insertSuccess" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success! </strong>{{ result.insertSuccess }}</div>
    <div class="alert alert-danger" *ngIf="result && result.insertFail" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong>{{ result.insertFail }}</div>
  <form #f="ngForm"  (ngSubmit) ="insertData({'id':pid.value,'name':pname.value,'cost':cost.value})">
    <div class="form-group"><label for="pid">Id</label>
      <input type="number" name="pid" [(ngModel)] = "dat.id"  #pid = "ngModel" class="form-control">
    </div>
    <div class="form-group"><label for="pname">Name</label>
      <input type="text" name="pname" [(ngModel)] = "dat.name"  #pname = "ngModel"  class="form-control">
    </div>
    <div class="form-group"><label for="cost">Cost</label>
      <input type="number" name="cost" [(ngModel)] = "dat.cost"  #cost= "ngModel"   class="form-control">
    </div>
    <div class="form-group">
      <button   class="btn btn-primary btn-small">Submit</button>
    </div>
  </form>
</div>

